body{
  margin: 0;
}

.container {
  display:flex;
  height:100vh;
  align-items:center;
  background:#333;
  margin: 0;
}

#map{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  z-index: 0;
}

#map-ui{
  width: 12%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0px; right: 10px;
  overflow: auto;
}

#map-ui a{
  text-decoration: none;
  color: #EEEEEE;
  font-size: 1.25vw;
}

.json_file{
  padding: 15px;
  text-align: center;
  display: block;
  background: #304FFE;
  
  border: 1px solid #000;
  border-radius: 5px;
}

.active{
  background: #0D47A1;
}

.